<editBar  [details]="details"></editBar>
<logState></logState>
<div class="container">
 <div id="profilePage">    
      <div class="profileFrameContainer">
        <div class="profileContainer">
            <div class="h1bgProfile"><h1>{{title | uppercase}}</h1></div>
            <div class="myInfoFrameContainer">
                <div class="myInfoContainer"> 
                    <div  #a1 (click)="invert(a1)" class="h1bgProfileInfo"><h1><a class="infoToggle transition" name="toggle">{{myinfo | uppercase}} <i class="fa fa-angle-up"></i></a></h1></div>
                     <div class="toggle1">
                    <div id="content" class="infoContent">
                    	<div *ngFor="#detail of details">
                        <div class="left firstColumn">
                            <p><span class="profileLable">{{username | uppercase}}</span> {{name}}</p>
                            <p><span class="profileLable">{{email | uppercase}}</span> {{detail.email}}</p>
                            <p *ngIf="detail.aboutMe"><span class="profileLable">{{aboutme | uppercase}}</span><p class="inlineBlock">{{detail.aboutMe}}</p>
                            <p *ngIf="!detail.aboutMe"><span class="profileLable">{{aboutme | uppercase}}</span><p *ngIf="!detail.aboutMe" class="inlineBlock"><i>Edit profile, for adding text here</i></p>    
                            <p *ngIf="detail.myInspiration"><span class="profileLable">{{myinspiration | uppercase}}</span><p class="inlineBlock">{{detail.myInspiration}}</p>
                            <p *ngIf="!detail.myInspiration"><span class="profileLable">{{myinspiration | uppercase}}</span><p  *ngIf="!detail.myInspiration" class="inlineBlock"><i>Edit profile, for adding text here</i></p>
                            
                        </div>
                   
                        <div class="left">
                            <p><span>{{profilepic | uppercase}}</span></p>                       
                           <img *ngIf="!detail.setUserImage"  class="profilePic" src="{{defaultUserPic}}" alt="profile">
                           <img *ngIf="detail.setUserImage"  class="profilePic" src="/attachmentUI/getImage/{{detail.setUserImage['path']}}/small" alt="profile">
                        </div>
                        </div>
                    </div>
                	</div>
                </div> 
            </div>
            <div class="myStoryFrameContainer">
                <div class="myStoryContainer">
                    <div #a2 (click)="invert(a2)" class="h1bgProfileStory"><h1><a  class="storiesToggle transition" name="toggle">{{mystories | uppercase}} <i class="fa fa-angle-up"></i></a></h1>
                    </div>
                    <div class="toggle2">
                    <div id="content" class="storiesContent">
                    <div *ngIf="stories" >
                    <div *ngFor="#story of stories" class="storyPicFrame clearfix">
						<a (click)="gotoStory(story)">						
							<img *ngIf="!story.storyImage" class="storyPic" src="{{defaultStoryPic}}" alt="story">
							<p class="storyTitle">{{story.name}}</p>
						</a>
						
					</div>
                    </div>
                    <div *ngIf="allowed" class="storyPicFrame"><a (click)="openVex()" id="createNewStory"><img class="storyPic" src="{{newStoryIcon}}" alt="newStory"><p class="storyTitle">NEW STORY</p></a></div>	
               
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div> 
</div>

