
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserStoryLabel" translate="storiiApp.userStory.home.createOrEditLabel">Create or edit a UserStory</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="userStory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="storiiApp.userStory.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="userStory.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="storiiApp.userStory.author_name" for="field_author_name">Author_name</label>
            <input type="text" class="form-control" name="author_name" id="field_author_name"
                    ng-model="userStory.author_name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="storiiApp.userStory.co_author_name" for="field_co_author_name">Co_author_name</label>
            <input type="text" class="form-control" name="co_author_name" id="field_co_author_name"
                    ng-model="userStory.co_author_name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="storiiApp.userStory.isPublished" for="field_isPublished">IsPublished</label>
            <input type="number" class="form-control" name="isPublished" id="field_isPublished"
                    ng-model="userStory.isPublished"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
