<editBar [details]="details"></editBar>
<logState></logState>
<div class="container">
<div id="userStoryPage">
<div class="pageContainerName"><h1>STORY</h1></div>
    <div *ngFor="#detail of details" id="content">
    
    <div class="storyTitle">
	    <h2>{{storyName | uppercase}}</h2>
		<span>by </span><a (click)="gotoProfile()" class="backLink">{{name}}</a>		 	
	</div>

    <div class="userPageContent">
    <div class="storyPageOuter">
    <div class="shortInfo storyPageContentPart"> 
    <div class="storyPageInner">
    	<div>
    		<img *ngIf="!details.storyImage" src="{{defaultStoryPic}}" alt="The story picture">
   			<img *ngIf="details.storyImage" src="" alt="The story picture">
    		
    		
    	</div>
    	<div>
    		<div class="storyPageAuthor">Author: <b>{{detail.authorName}}</b></div>
       		<div *ngIf="detail.coAuthorName" class="storyPageCoAuthor"> Co-Author: <b>{{detail.coAuthorName}}</b> </div>
    		<div class="storyPageRated">Rated:
    		<div>
				<div class="inline starRating" *ngFor="#rate of rating">
					<img src="{{rate}}" alt="star">
				</div>
    			
    		</div>
    		</div>
    	</div>
    	</div>
   	</div>
   	</div>
   	<div class="storyPageOuter">
   	<div class="storyDetails storyPageContentPart">
   	<div class="storyPageInner">
        <div class="storyPageInformation">
                <h2>Short Description:</h2>
                <div *ngIf="detail.description">{{detail.description}}</div>
                <div *ngIf="!detail.description"><i>This is the place where you can describe the content of your story</i></div>             
        </div>
        <br>
        <div *ngIf="details.published || allowed" class="buttonFrameContainerUserStoryContentModule">
        	<div class="buttonSize">
        		<a (click)="gotoPresentation()" class="buttonLookLink">READ</a>
       		</div>
     	</div>
     	</div>
        </div>  
        </div>  
        <div class="storyPageOuter">
        <div class="storyCommentSection storyPageContentPart">
        <div class="storyPageInner">
     		<h2>Comments: </h2>  
     		<div *ngIf="detail.ratings">	
        	<ul *ngFor="#rating of detail.ratings">
        		<li>{{rating.comment}} - by {{rating.ratingUser}}</li>
       		</ul>
        	<a (click)="openComments()">More comments</a>
        	</div> 
        	<div *ngIf="!detail.ratings"> 
        		<i>Send your comment at the end of the story</i>
        	</div> 
        </div>
        </div>
        </div>
       </div>
    			
    </div>
</div>
</div>