body {
    font-family: "Architects Daughter", cursive;
}

.grid-stack {
    background: none;
}

.vex textarea{
    width: 85%;
    float: left;
    font-family: "Architects Daughter", cursive;
    font-size: 15px;
}

.vex #inner textarea{
    height:100%;
    border: 2px black dotted;
}
.hidden{
    display:none;
}

.grid-stack .image .grid-stack-item-content img{
	max-width:100%;
}

.changePageImage{
	width: 200px;
	margin: 10px auto;
}

.changePageImage .pictureHandling{
	width:100%;
}

.changePageImage .close{
	margin-right:20px;
}


.changePageImage .button{
	width:auto;
}

.link.grid-stack-item input{
	font-family: "Architects Daughter", cursive;
    font-size: 18px;
    text-align: center;
    border: black 1px solid;
}

.delete{
	position: absolute;
    right: 10px;
    width: 15%;
    max-width: 45px;
    z-index: 100;
    border: 1px dotted black;
    background-color: rgb(225, 175, 177); 
    font-family: "Architects Daughter", cursive;
    font-size: 20px;
    cursor: pointer;
}
.placeholder-content{
    border: 2px black dotted !important;
}

#links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
}

#links .center{

	margin:0 auto;
	width:600px;
	
}


.editingMode{
	 border: 1px solid grey;
}


#outer{
    background: white;
    padding:20px;
    border: 2px dotted black;
    clear: left;
    margin: 20px;
}

.grid-stack .grid-stack-item-content {
    text-align: center;
    overflow-y: hidden!important;
}

.pageEditorFrameContainer {
    border: 2px dotted;
    line-height: 3px;
    width: 97%;
    margin: 0 auto;
}
.h1bgPageEditor {
    width: 270px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.grid-border{
    border: 2px black dotted !important;
}

.sidebar {
    background: #d3edf0;
    padding: 20px;
    text-align: center;
    width:auto;
    display:none;
    margin-bottom: 20px;
}

.sidebar > div:first-of-type{
    border: 2px dotted black;
}

.widgets{
    display:inline;
}


.sidebar .grid-stack-item {
    width: 200px;
    margin: 20px;
    padding:10px;
    text-align: center;
    line-height: 100px;
    z-index: 10;
    background: #96C3CC;
    cursor: default;
    display: inline-block;
}


.sidebar .grid-stack-item .grid-stack-item-content {
    background: none;
    border: 2px dotted black;
    font-size:18px;
}

.trash {
    font-size:1.4em;
    width: 400px;
    margin: 20px;
    padding:10px;
    text-align: center;
    line-height: 100px;
    z-index: 10;
    cursor: default;
    display: inline-block;
    background: #E1AFB1;
}

.trash > div{
    background: none;
    border: 2px dotted black;
}

.grid-stack .link > .grid-stack-item-content{
    padding:10px;
    background:#96C3CC;
    line-height: 2.3em;
}

.sidebar .link .grid-stack-item-content {
    padding:0;
}



.grid-stack .link > .grid-stack-item-content > div:first-of-type {
    border: 2px black dotted;
    height:100%;
}

.grid-stack .link{
    font-size: 18px;
}

.link a {
    color: #000;
    cursor: pointer;   
}

