<editBar [details]="details"></editBar>
<logState></logState>
<div class="container">
<div id="commentsStoryPage">
<h2>Comments: </h2>   	
	<div *ngFor="#rating of ratings">
		<div class="allRatings">
			<div class="singleRatingPage">
			<div class="ratingUser"><b><a (click)="gotoProfile()">{{rating.ratingUser}}</a></b> said:</div>
        	<div class="ratingComment">{{rating.comment}}</div>
			 <div class="inline starRating" *ngFor="#star of rating.stars">
					<img src="{{star}}" alt="star">
			</div>
			</div>
		</div>
	</div>
	
</div>
</div>