<div id="logState">
			<div *ngIf="loggedIn" class="LogedInHelloState">HELLO <a (click)="gotoProfil()">{{user}}</a></div>
			<div class="buttonFrameContainerLogState left marginRightLogState"><div class="buttonSize"><a (click)="gotoLogin()" class="buttonLookLink firstLogState">{{logState | uppercase}}</a></div></div>
			<div *ngIf="!loggedIn" class="buttonFrameContainerLogState left"><div class="buttonSize"><a (click)="gotoRegister()" class="buttonLookLink" >{{register | uppercase}}</a></div></div><br>
</div>